
*{
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
   } 
a{text-decoration: none;}
a:hover{text-decoration: none;}
p{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
}


/***********HEADER PART STARTS*************/
 
.header-section{
    width: 100%;
    height: 550px;
    background-image: url("images/ab.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    position: relative;

}
.center-div{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}
/***********HEADER PART ENDS*************/




/******* experts  PART  starts ********/
.teachers{
    width: auto;
    height: auto;
    margin: 100px 0;
}
.teacherspic{
    width: 100%;
    height: 140px;
   
    
}
.reviews i{
    margin-top: 4px;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
}
.heading p{
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
     'Open Sans', 'Helvetica Neue', sans-serif;
}
.para{
    font-size: 20px !important;
}
/******* experts  PART  Ends ********/






/*******  globalreach  PART   Starts********/

.globalreach{
    width: auto;
    height: auto;
    margin: 100px 0;
}
 
/*******  globalreach  PART   ends********/


/******* follow us  PART  starts **********/
.followus{
    width: 100%;
    height: auto;
    margin: 100px 0 0 0 ;
}

.icon{
 padding-left: 15px;
 cursor: pointer;
}
/****** follow us  PART  Ends **********/

/* ********footer STARTS******** */
.footer{
    width: auto;
    height: auto;
    margin-top: 20px;
    
}
.links li{
    list-style: none;
    display: inline;
    padding-left: 15px;
}
.links a{
    color: #fff;
}
.links a:hover{
    color:	#C0C0C0;
}

/* ********footer ENDS******** */



/* ************Media query starts********** */
@media screen and (max-width: 600px){
    .center-div{
        position: absolute;
       
        top: 55%;
        width: 100%;
    }
}
@media screen and (max-width: 1366px){
    .reviews i{
        margin-top: 4px;
        padding: 2px;
        font-size: 6px;
        cursor: pointer;
    }
}
@media screen and (max-width: 736px){
    .record{
        height: auto;
        display: block !important;
    }
    .center-div h1{
        font-size: 50px !important;
    }
    .links{
        font-size: 15px !important;
    }
}
/* ************Media query ends********** */
